################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Trip_Volunteer/.vs/Trip_Volunteer
