################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Trip_Volunteer/.vs/Trip_Volunteer
